body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div:hover{
    color: red
}

div:hover > p{
    display: block;
    background-color: red;
    color: white;
    width: 300px;
}

div > p{
    display: none;
}
