@charset "UTF-8";

/* CSS Document */
div{
    background-color: silver;
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-block; 
    border: 2px solid black;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div:hover{
    color: red
}

div > p{
    display: none;
}
